body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box; 
  overflow:hidden;
}
header {
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
main{
  width: 100%; 
  height:100%;
  background: rgba(183, 175, 175, 0.5); 
  display:flex;
  flex-direction: column;
}
nav {
  width: 100%; 
  background: rgba(225, 235, 242, 0.8); 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0; 
  box-sizing: border-box;
  margin: 0; 
}
.logo img {
  width: 150px;
  height: auto;
  margin-left: 1em;
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 2em;
  justify-content: space-evenly;
}
nav ul li {
  margin: 1em;
}
nav ul li a {
  background-color: rgba(21, 20, 20, 0.7);
  border-style: solid;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 3%;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, color 0.3s;
  color: #ffffff;
  text-align: center;
  font-family: "Jersey 10", sans-serif;
  font-size: 24px;
  font-weight:300;
  width: 100%;
  height: auto;
}
nav ul li:nth-child(3) a {
  color: rgba(233, 240, 189, 1);
}
nav ul li a:hover {
  background-color: rgba(21, 20, 20, 0.45);
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.4);
}

nav ul li a:active {
  background-color: #ccc;
  color: #000;
}
.base-eclipse {
  position: fixed;
  bottom:-4%;
  left:0;
  width: 100%;
}
.base-eclipse img {
  width: 100%;
  height: auto;
  display:block;
}

/* Slide 1*/
.cloud-image-container{
  display: flex;
  justify-content: center;  
  align-items: center;  
  width:100%;
  height: auto; 
  position: absolute;

}
.cloud-image-container img {
  width: 60%;
  height: auto;
  transform: translateY(15%);
}
/* Floating animation for the image */
.floating-cloud {
  animation: float 3s ease-in-out infinite;
  transform-origin: center;
  transform: translateY(15%);
}

/* Keyframes for the floating animation */
@keyframes float {
  0%,100% {
    transform: translateY(15%);
  }
  50% {
    transform: translateY(calc(15% - 10px)); 
  }
}

/* Slide 2*/
.features-container {
  text-align: center;
  color: #333;
  margin-top: 10px;
}
.feature-heading img{
  width:30%;
}
.features {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: -5px;
}

.feature {
  text-align: center;
  max-width: 450px;
}

.feature a {
  display: inline-block;
  transition: transform 0.3s ease;
}

.feature img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.feature a:hover img {
  transform: scale(1.25);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.feature-description {
  background-color: rgba(142, 178, 211, 0.85);
  padding: 20px;
  border-radius: 8px;
  margin-top: 10px;
  margin-left:20px;
  color: #333;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border:white solid 1px;
  width:81%;
  height:100px;
}

.feature-description h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 800;
  color: #000;
}

.feature-description p {
  margin: 5px 0 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  color:#fff;
}

/* Dots */
.dots {
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 4%;
  width: 100%;
  z-index:10;
}
.dot {
  height: 20px;
  width: 20px;
  margin: 0 10px;
  background-color: #000000;
  border-radius: 50%;
  border: #ffffff solid 2px;
  display: inline-block;
  cursor: pointer;
}
.dot.active {
  background-color: #ffffff;
}
/* Animation for the slideshow */
.slide {
  display: none;
  position: relative;
  animation: slide-in 1.2s ease-in-out forwards;
}

/* Add keyframes for sliding in from the right */
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Make the current slide visible */
.slide.active {
  display: block;
}


.cloud-header{
  display: flex;
  justify-content: center;  
  align-items: center;  
  width:100%;
  height: auto; 
  position: absolute;
}
.cloud-header img{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 24%;
  height: auto;
  margin-top: 40px;
  z-index: 10;
  position: relative;
}
.about-text-box, .rules-text-box {
  background-color: rgba(142, 178, 211, 0.90);
  color: white;
  padding: 2%; 
  width: 65%; 
  height:100%;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  font-family: Arial, sans-serif;
  position: relative;
  top: 18%; /* Adjust this value to move the text box down */
  border: 1px solid white;
  z-index: 1;
}
.about-text-box h2{
  font-size:30px;
  text-align:center;
  justify-content: center;
  margin-top:7%;
  padding: 5px 40px;
  font-weight:bold;
}
.rules-text-box h2{
  font-size:30px;
  text-align:center;
  justify-content: center;
  margin-top:4%;
  padding: 5px 40px;
  font-weight:bold;

}
.about-text-box p{
  font-size: 20px;
  font-weight: 1.6;
  line-height:1.8;
  text-align:center;
  justify-content: center;
  padding: 15px 40px;
}
.rules-text-box p{
  font-size:20px;
  padding: 3px 20px;
}
.rules-text-box ol {
  padding-left: 20px; 
  list-style: none;
  counter-reset: list;
}
.rules-text-box ol li {
  font-size: 20px;
  margin-bottom: 5px;
  position: relative;
  padding: 5px 70px;
  line-height: 1.2;
}
.rules-text-box ol li::before {
  content: counter(list) ". "; 
  counter-increment: list;
  position: absolute;
  left: 5%;
  font-weight: bold;
  font-size: 2ppx;
}
.rules-text-box h4{
  margin-top:5px;
  font-size:26px;
  text-align:center;
  font-weight:3px;

}
.login-text-box {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3%;
  width:40%;
  height:100%;
  margin: 1% auto;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
  position: relative;
  top: 20%; /* Adjust this value to move the text box down */
  z-index: 1;
}

.password-container {
  position: relative;
  margin-bottom: 15px; 
  top: 40px;
}

.username-container {
  position: relative;
  margin-bottom: 5px; 
  top: 40px;
}

/* Style the toggle icon */
.enter-toggle-password {
  position: absolute;
  right: 100px;
  top: 63%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  pointer-events: auto;
}

.login-text-box label {
  position: relative; 
  display: block; 
  color: white;
  font-size: 16px;
  text-align: left;
  padding-left: 15%;
  top: 2px;
}
.input-container {
  position: relative;
  margin-bottom: 5px; 
  top: 30px;
}

.login-text-box input[type="text"], .login-text-box input[type="password"], 
.login-text-box input[type="email"] {
  width: 70%;
  padding: 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}
.login-text-box button[type="submit"] {
  width: 70%;
  padding: 15px;
  margin-top: 40px;
  background-color: rgba(142, 178, 211, 0.90);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.login-text-box button[type="submit"]:hover {
  background-color: rgba(192, 204, 215, 0.9);
}

.login-text-box .register-link {
  margin-top: 15px;
}

.login-text-box .register-link a {
  color: #E9F0BD;
  text-decoration: underline;
  font-weight:bold;
}

.login-text-box .register-link a:hover {
  color: #edfb8f;
  text-decoration: none;
}

.register-link p {
  font-size: 16px;
  margin-top: 10px;
  color: #ccc;
}


